:root {
  --color-primary: hsl(0, 75%, 60%);
  --color-secondary: hsl(137, 59%, 54%);

  --color-bg: hsl(113, 0%, 90%);
  --color-bg-elevated: hsl(113, 0%, 92%);
  --color-text: hsl(198, 20%, 25%);
  --color-text-light: hsl(198, 20%, 30%);

  --shadow-color: 0deg 0% 58%;
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);

  --font-family: "MonaSans";
  --font-size-small: 1rem;
  --font-size-medium: 1.2rem;
  --font-size-large: 1.4rem;
  --font-size-xlarge: 1.6rem;
  --font-size-xxlarge: 2rem;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --line-height: 1.5;
}

[data-theme="dark"] {
  --color-primary: hsl(17, 100%, 65%);
  --color-secondary: hsl(137, 69%, 50%);

  --color-bg: hsl(0, 0%, 10%);
  --color-bg-elevated: hsl(113, 0%, 20%);
  --color-text: hsl(315, 0%, 90%);
  --color-text-light: hsl(315, 10%, 85%);
}

[data-theme="light"] {
  --color-primary: hsl(0, 75%, 60%);
  --color-secondary: hsl(137, 69%, 44%);

  --color-bg: hsl(113, 0%, 96%);
  --color-bg-elevated: hsl(113, 0%, 92%);
  --color-text: hsl(198, 20%, 25%);
  --color-text-light: hsl(198, 20%, 30%);
}

@media screen and (max-width: 500px) {
  :root {
    --line-height: 1.4;
  }
}
