:root {
  --color-primary: hsl(20, 85%, 54%);
  --color-secondary: hsl(200, 85%, 44%);

  --color-bg: hsl(113, 0%, 98%);
  --color-text: hsl(198, 0%, 25%);

  --color-neutral-100: hsl(0, 0%, 92%);
  --color-neutral-200: hsl(0, 0%, 85%);
  --color-neutral-300: hsl(0, 0%, 70%);
  --color-neutral-400: hsl(0, 0%, 60%);
  --color-neutral-500: hsl(0, 0%, 50%);
  --color-neutral-600: hsl(0, 0%, 40%);
  --color-neutral-700: hsl(0, 0%, 30%);
  --color-neutral-800: hsl(0, 0%, 20%);
  --color-neutral-900: hsl(0, 0%, 5%);
  --color-neutral-1000: hsl(0, 0%, 0%);

  --font-family: "MonaSans";

  --font-size-regular: 1rem;
  --font-size-medium: 1.2rem;
  --font-size-large: 1.44rem;
  --font-size-xlarge: 1.728rem;
  --font-size-xxlarge: 2.074rem;
  --font-size-xxxlarge: 2.488rem;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --line-height: 1.65;
}

[data-theme="dark"] {
  --color-primary: hsl(20, 90%, 59%);
  --color-secondary: hsl(200, 90%, 50%);

  --color-bg: hsl(0, 0%, 10%);
  --color-text: hsl(315, 0%, 90%);

  --color-neutral-1000: hsl(0, 0%, 92%);
  --color-neutral-900: hsl(0, 0%, 85%);
  --color-neutral-800: hsl(0, 0%, 70%);
  --color-neutral-700: hsl(0, 0%, 60%);
  --color-neutral-600: hsl(0, 0%, 50%);
  --color-neutral-500: hsl(0, 0%, 40%);
  --color-neutral-400: hsl(0, 0%, 30%);
  --color-neutral-300: hsl(0, 0%, 20%);
  --color-neutral-200: hsl(0, 0%, 5%);
  --color-neutral-100: hsl(0, 0%, 0%);
}

[data-theme="light"] {
  --color-primary: hsl(20, 85%, 54%);
  --color-secondary: hsl(200, 85%, 44%);

  --color-bg: hsl(0, 0%, 96%);
  --color-text: hsl(198, 0%, 25%);

  --color-neutral-100: hsl(0, 0%, 92%);
  --color-neutral-200: hsl(0, 0%, 85%);
  --color-neutral-300: hsl(0, 0%, 70%);
  --color-neutral-400: hsl(0, 0%, 60%);
  --color-neutral-500: hsl(0, 0%, 50%);
  --color-neutral-600: hsl(0, 0%, 40%);
  --color-neutral-700: hsl(0, 0%, 30%);
  --color-neutral-800: hsl(0, 0%, 20%);
  --color-neutral-900: hsl(0, 0%, 5%);
  --color-neutral-1000: hsl(0, 0%, 0%);
}

@media screen and (max-width: 500px) {
  :root {
    --line-height: 1.45;
  }
}
