---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to my blog!">
	<h1>Hello Blog!</h1>
	<p>Example body copy text. This needs to look really good.</p>
</Layout>

<style>
	h1 {
		color: var(--color-primary);
		
	}
</style>
