---
import Layout from "../layouts/Layout.astro";
import PostCard from "../components/PostCard/PostCard.svelte";
import { getCollection } from "astro:content";

const blogPosts = await getCollection("blog");
---

<Layout title="Blog posts">
    <main>
        <h1>All posts</h1>
        <section>
            {
                blogPosts.map((post) => (
                    <PostCard
                        description={post.data.description}
                        title={post.data.title}
                        slug={post.slug}
                    />
                ))
            }
        </section>
    </main>
</Layout>

<style>
    h1 {
        text-align: center;
        padding-block: 5rem;
    }
    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
        gap: 0.8rem;
    }

    @media screen and (max-width: 700px) {
        section {
            grid-template-columns: 1fr;
            place-items: center;
        }
    }

    main {
        max-width: 1000px;
        margin: 0 auto;
    }
</style>
