---
import Layout from "../layouts/Layout.astro";
import PostCard from "../components/PostCard/PostCard.svelte";
import { getCollection } from "astro:content";

const blogPosts = await getCollection("blog");
---

<Layout title="Blog posts">
  <main>
    <h1>All posts</h1>
    <section>
      {
        blogPosts &&
        
          blogPosts.map((post) => (
            <PostCard
              description={post.data.description}
              pubDate={post.data.publishDate}
              title={post.data.title}
              slug={post.slug}
            />
          ))
      }

      {!blogPosts && <p id="soon">There will be posts here soon!</p>}
    </section>
  </main>
</Layout>

<style>
  h1 {
    text-align: center;
    padding-block: 5rem;
  }

  #soon {
    text-align: center;
    font-size: var(--font-size-xlarge);
    font-weight: var(--font-weight-bold);
    background: linear-gradient(
      to right,
      var(--color-neutral-1000),
      var(--color-neutral-500)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  section {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1000px;
    padding: 0.5rem;
    gap: 1rem;
    place-items: start;
    margin: auto;
  }

  main {
    display: flex;
    flex-direction: column;
  }
</style>
