---
import "../styles/variables.css";
import "../styles/global.css";
import type { MarkdownHeading } from "astro";
import TableOfContents from "../components/TableOfContents/TableOfContents.svelte";
import Layout from "./Layout.astro";

export interface Props {
    title: string;
    headings: MarkdownHeading[];
}

const { title, headings } = Astro.props;
---

<Layout title={title}>
    <div class="grid-container">
        <TableOfContents headings={headings} />
        <main>
            <slot />
        </main>
    </div>
</Layout>

<style is:global>
    .grid-container {
        display: grid;
        grid-template:
            "toc " auto
            "post" auto;
        gap: 3rem;
        margin: 0 auto;
        max-width: 1100px;
        place-content: center;
        width: 100%;
        padding: 2rem;
    }

    img {
        border-radius: 12px;
    }

    .toc {
        grid-area: toc;
        margin-top: 1rem;
        height: fit-content;
    }

    .content {
        grid-area: post;
    }

    h1 {
        color: var(--color-primary);
        font-size: var(--font-size-xxlarge);
        margin-block: 2rem;
        text-align: center;
    }

    h2 {
        font-size: var(--font-size-large);
    }

    p {
        margin-bottom: 0.8rem;
        font-size: var(--font-size-medium);
        line-height: var(--line-height);
        max-width: 40rem;
    }
</style>
