---
import DesktopNavigation from "../components/Navigation/DesktopNavigation.svelte";
import MobileNavigation from "../components/Navigation/MobileNavigation.svelte";
import Footer from "../components/Footer/Footer.svelte";
import CookieConsent from "../components/Analytics/CookieConsent.astro";
import Matomo from "../components/Analytics/Matomo.astro";
import "../styles/variables.css";
import "../styles/global.css";
export interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <CookieConsent />
    <Matomo />
  </head>
  <body>
    <script is:inline>
      const persistedColorPreference =
        window.localStorage.getItem("color-mode");
      const hasPersistedPreference =
        typeof persistedColorPreference === "string";

      if (hasPersistedPreference) {
        document.documentElement.setAttribute(
          "data-theme",
          persistedColorPreference
        );
        if (persistedColorPreference === "dark") {
          document.documentElement.classList.add("cc--darkmode");
        } else {
          document.documentElement.classList.remove("cc--darkmode");
        }
      } else {
        const mediaQuery = window.matchMedia("prefers-color-scheme: dark");
        const hasMediaQueryPreference = typeof mediaQuery.matches === "boolean";

        if (hasMediaQueryPreference) {
          const theme = mediaQuery.matches ? "dark" : "light";
          document.documentElement.setAttribute("data-theme", theme);
          if (theme === "dark") {
            document.documentElement.classList.add("cc--darkmode");
          } else {
            document.documentElement.classList.remove("cc--darkmode");
          }
        } else {
          document.documentElement.setAttribute("data-theme", "light");
          document.documentElement.classList.remove("cc--darkmode");
        }
      }
    </script>
    <div class="wrapper">
      <header>
        <div class="header-wrapper">
          <a id="logo" href="/">David Credo</a>
          <DesktopNavigation client:only="svelte" />
          <MobileNavigation client:only="svelte" />
        </div>
      </header>
      <slot />
    </div>
    <Footer />
  </body>
</html>
<style>
  header {
    background: var(--color-neutral-100);
  }

  #logo {
    padding-inline: 1rem;
  }

  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  .header-wrapper {
    display: flex;
    align-items: center;
    max-width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
  }
</style>
